{% extends 'base.html' %}

{% block title %}
    Editar Usuario
{% endblock title %}

{% block content %}

<div class="container">
    
    <h1>Editar Usuario</h1>

    {{error}}

    <form method="post">

        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Actualizar</button>

    </form>

    <form action="{% url 'eliminar_usuario' usuario.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger">Eliminar</button>
    </form>

</div>
{% endblock %}